body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: darkgray;
    text-shadow: black 0 0 2px;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 3rem;
}